<div class="main">
    <div class="side-menu">
        <div class="menu-item">
            <div> 
            <img src="../../../../assets/img/burger.png" alt="burger" class="burger">
            <p>Burger</p>
        </div>
        </div>
        <div class="menu-item">
            <div> 
            <img src="../../../../assets/img/pizzaicon.png" alt="pizza" class="pizza">
            <p>Pizza</p>
        </div>
        </div>
        <div class="menu-item">
            <div> 
            <img src="../../../../assets/img/cupcake.png" alt="cupcake" class="cupcake">
            <p>Cupcake</p>
        </div>
        </div>
        <div class="menu-item">
            <div> 
            <img src="../../../../assets/img/ramen.png" alt="ramen" class="ramen">
            <p>Ramen</p>
        </div>
        </div>
        <div class="menu-item">
            <div> 
            <img src="../../../../assets/img/Icecream.png" alt="Icecream" class="Icecream">
            <p>Ice cream</p>
        </div>
        </div>
        <div class="menu-item">
            <div> 
            <img src="../../../../assets/img/Icecream.png" alt="Icecream" class="Icecream">
            <p>Ice cream</p>
        </div>
        </div>
        <div class="menu-item">
            <div> 
            <img src="../../../../assets/img/Icecream.png" alt="Icecream" class="Icecream">
            <p>Ice cream</p>
        </div>
        </div>
        <div class="menu-item">
            <div> 
            <img src="../../../../assets/img/Icecream.png" alt="Icecream" class="Icecream">
            <p>Ice cream</p>
        </div>
        </div>
    </div>
    <div class="menu-review">
        <app-carousel></app-carousel>
    </div>
</div>