<div class="main">
    <div class="main-fluid">
        <p class="description">Our job is to filling your tummy with delicious food <br> and  with fast and free delivery</p>
        <button class="btn-blue">მენიუ</button>
        <button class="btn-transparent"><img src="../../assets/img/play3.png" alt=""> მენიუ</button>
    </div>
    <img src="../../assets/img/circle.png" alt="circle" class="circle">
    <img src="../../assets/img/arrow.png" alt="arrow" class="arrow">
    <img src="../../assets/img/rectangle.png" alt="rectangle" class="rect"> 
</div>