<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" 
          routerLink="/home"
          routerLinkActive="active">menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            routerLink="asd"
          routerLinkActive="active"
          >მენიუ2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="">მენიუ3</a>
        </li>

      </ul>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-link">
          <a routerLink="logo"><img src="../../../assets/img/logo.png" alt=""></a>
        </li>
      </ul> 
      <div class="buttons">
        <button class="btn-transparent" type="button" data-toggle="tooltip" data-placement="bottom" title="მენიუ">მენიუ</button>
        <button class="btn-blue" data-toggle="tooltip" data-placement="bottom" title="მენიუ">მენიუ</button>
      </div>
    </div>
  </div>
</nav>