<div class="main">
    <div class="menu">
        <div class="circle">
            <img src="../../assets/img/personicon.png" alt="" class="personicon">
        </div>
        <p class="menu-cards-p">მენიუ</p>
        <img src="../../assets/img/telephon.png" alt="" class="telephon">
    </div>
    <div class="menu2">
        <img src="../../assets/img/Pizza.png" alt="">
        <div class="menu2-fluid">
            <p>Italian Pizza</p>
            <div class="stars">
                <img src="../../assets/img/star.png" alt="">
                <img src="../../assets/img/star.png" alt="">
                <img src="../../assets/img/star.png" alt="">
                <img src="../../assets/img/star.png" alt="">
                <img src="../../assets/img/emptystar.png" alt="">
            </div>
            <div class="price">
                <h2><span class="currency">$</span>7.49</h2>
            </div>
        </div>
    </div>
</div>