/* You can add global styles to this file, and also import other style files */
p {
  font-family: Serif Georgian;
  font-weight: 500;
  size: 24px;
  line-height: 32.64px;
  margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
