<div class="main">
    <div class="main-fluid">
        <img src="../../assets/img/person1.png" alt="person1" class="person1">
        <img src="../../assets/img/person2.png" alt="person2" class="person2">
        <img src="../../assets/img/person3.png" alt="person3" class="person3">
    </div>
    <div class="main-fluid2">
        <h3>Our Happy Customer</h3>
        <div class="rate-div">
            <img src="../../assets/img/star.png" alt="star" class="star">
            <h5>4,8 <span class="review">(12.5k Review)</span></h5>

        </div>
    </div>
    <img src="../../assets/img/rectangle.png" alt="rectangle" class="rectangle">
</div>