#carouselExampleControls {
  position: relative;
  width: 500px !important;
  height: 400px !important;
}
.carousel-inner {
  height: 100% !important;
}
.carousel-item {
  height: 100% !important;
  position: relative !important;
}
/* .carousel-item .description{
      position: absolute !important;
    z-index: 88 !important;
}
.description{
  
} */
.description {
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
}
p {
  font-weight: 500;
  font-size: 34px;
  line-height: 22.4px;
  color: #ffffff;
}
img {
  width: 100%;
  height: 100%;
  position: relative !important;
}
